<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for item in mylist if item.id !=5 %}
    <p>{{ item.value }}</p>

   {#  { {循环标签 loop index下标} }#}
    {% if loop.index ==1 %}
        <li style="background-color: orange">{{ item.value }}</li>

    {% elif loop.index ==2 %}
        <li style="background-color: green">{{ item.value }}</li>

    {% elif loop.index==3 %}
        <li style="background-color: red">{{ item.value }}</li>

    {% else %}
        <li style="background-color: #ff4de8">{{ item.value }}</li>

    {%  endif  %}
    {#  { {结束标签} }#}
{% endfor %}
</body>
</html>